@{
    ViewBag.Title = "Contact";
}

@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Message</p>
    <p>
        This page provides support information for this demo app.
    </p>
</div>

<h3>Contact Info:</h3>

<address>
    Developer: <a href="mailto:zl.john@gmail.com">John Liu</a><br />
    Phone: 602.770.9520 <br />
    
</address>


