@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Message</p>
    <p>
        This MVC5+EF6 app provides ability to: </br> 
        <ul>
            <li>Display a list of all employees.</li>
            <li>Display a single employee with all their individual information.</li>
            <li>Add a new employee with all their individual information.</li>
            <li>Update an existing employee.</li>
        </ul>
</p>
</div>

